In [1]:
import sys

sys.path.insert(1, '..')
import game_utils as gu
import pandas as pd

In [14]:
all_games = pd.read_csv('../../data/games/all_games_with_info.csv')
df = all_games

In [15]:
game = df.iloc[0]
filename = gu.get_game_filename(game)
stats = pd.read_csv(f'../../data/game_stats/game_stats_{filename}.csv')

In [16]:
game

date                      2010-09-09
year                            2010
week                               1
team              New Orleans Saints
team_score                        14
opponent           Minnesota Vikings
opponent_score                     9
win                                1
home                               1
temperature                      NaN
wind                             NaN
humidity                         NaN
roof                            dome
surface                    sportturf
Name: 0, dtype: object

In [17]:
stats

                  stat           away           home
0          First Downs             12             18
1         Rush-Yds-TDs        23-91-0        25-79-1
2    Cmp-Att-Yd-TD-INT  15-27-171-1-1  27-36-237-1-0
3         Sacked-Yards            1-9            1-8
4       Net Pass Yards            162            229
5          Total Yards            253            308
6         Fumbles-Lost            1-0            1-0
7            Turnovers              1              0
8      Penalties-Yards           6-60           3-20
9     Third Down Conv.           5-13           3-11
10   Fourth Down Conv.            0-0            0-0
11  Time of Possession          26:17          33:43

In [18]:
home_team, away_team = gu.get_game_teams(game)
print(f'{away_team} at {home_team}')

Minnesota Vikings at New Orleans Saints

In [19]:
stats.columns = ['', away_team, home_team]
stats

                       Minnesota Vikings New Orleans Saints
0          First Downs                12                 18
1         Rush-Yds-TDs           23-91-0            25-79-1
2    Cmp-Att-Yd-TD-INT     15-27-171-1-1      27-36-237-1-0
3         Sacked-Yards               1-9                1-8
4       Net Pass Yards               162                229
5          Total Yards               253                308
6         Fumbles-Lost               1-0                1-0
7            Turnovers                 1                  0
8      Penalties-Yards              6-60               3-20
9     Third Down Conv.              5-13               3-11
10   Fourth Down Conv.               0-0                0-0
11  Time of Possession             26:17              33:43

In [23]:
stats = stats.T

In [24]:
stats

,0,1,2,3,4,5,6,7,8,9,10,11
,First Downs,Rush-Yds-TDs,Cmp-Att-Yd-TD-INT,Sacked-Yards,Net Pass Yards,Total Yards,Fumbles-Lost,Turnovers,Penalties-Yards,Third Down Conv.,Fourth Down Conv.,Time of Possession
Minnesota Vikings,12,23-91-0,15-27-171-1-1,1-9,162,253,1-0,1,6-60,5-13,0-0,26:17
New Orleans Saints,18,25-79-1,27-36-237-1-0,1-8,229,308,1-0,0,3-20,3-11,0-0,33:43