# Slicing a Data Frame

In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame([
  [1,2,3,4],
  [5,6,7,8],
])
df

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [12]:
df.index = ['first','second']
df

        0  1  2  3
first   1  2  3  4
second  5  6  7  8

In [8]:
df.reset_index()

    index   0   1   2   3
0   first NaN NaN NaN NaN
1  second NaN NaN NaN NaN

In [19]:
df = pd.DataFrame([
  ['1','2','3','4'],
  ['5','6','7','8'],
])
df.columns = ['a','b','c','d']
df

   a  b  c  d
0  1  2  3  4
1  5  6  7  8

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      object
 1   b       2 non-null      object
 2   c       2 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 192.0+ bytes

In [22]:
df['b'] = df['b'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      object
 1   b       2 non-null      int64
 2   c       2 non-null      object
 3   d       2 non-null      object
dtypes: int64(1), object(3)
memory usage: 192.0+ bytes

In [24]:
df = pd.DataFrame([
    ['seahawks', '12'],
    ['saints', '6'],
])
df.columns = ['team', 'score']
df.index = ['away','home']
df

          team score
away  seahawks    12
home    saints     6

In [27]:
df['team']['home']

'saints'

In [30]:
is_it = True
[is_it == True, is_it == False]

[True, False]

In [41]:
df = pd.DataFrame([
    ['seahawks', '12'],
    ['saints', '6'],
])
df.columns = ['team', 'score']
df.index = ['away', 'home']
df['score'] = df['score'].astype('int64')
score_away = df['score']['away']
score_home = df['score']['home']
was_home_win = score_home > score_away
df.insert(2, "win", [was_home_win == False, was_home_win == True])

print(f'[{type(score_away)}] type(score_away)')
print(f'[{score_away}] score_away')
print(f'[{score_home}] score_home')
print(f'[{score_home > score_away}] score_home > score_away')
if score_home > score_away:
    print('home greater')
else:
    print('away greater')
print(df)

[<class 'numpy.int64'>] type(score_away)
[12] score_away
[6] score_home
[False] score_home > score_away
away greater
          team  score    win
away  seahawks     12   True
home    saints      6  False

In [44]:
t= False
5 if t == True else 4

4

In [49]:
pd.DataFrame({
    'week': 0,
    'team': '',
    'team_score': '',
    'opponent': 0,
    'opponent_score': 0,
    'win': 0,
    'home': 0,
}, index=[0])

   week team team_score  opponent  opponent_score  win  home
0     0                         0               0    0     0

In [47]:
files = {'A.txt': 12, 'B.txt': 34, 'C.txt': 56, 'D.txt': 78}

initial_data = {
    'week': 0,
    'team': '',
    'team_score': '',
    'opponent': 0,
    'opponent_score': 0,
    'win': 0,
    'home': 0,
}
columns = [
    'week',
    'team',
    'team_score',
    'opponent',
    'opponent_score',
    'win',
    'home',
]
pd.DataFrame(initial_data.items(), columns=columns)

ValueError: 7 columns passed, passed data had 2 columns