# Slicing a Data Frame

In [24]:
import numpy as np
import pandas as pd

In [25]:
pd.Series(range(0,6))

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [26]:
d = {'a': ['a0','a1','a2','a3','a4']}

df = pd.DataFrame(d)
df

    a
0  a0
1  a1
2  a2
3  a3
4  a4

In [27]:
d = {}

for c in ['a','b','c','d','e']:
  r_data = []
  for r in range(0,6):
    r_data.append(f'{r}{c}')
  d[c] = r_data

df = pd.DataFrame(d)
df

    a   b   c   d   e
0  0a  0b  0c  0d  0e
1  1a  1b  1c  1d  1e
2  2a  2b  2c  2d  2e
3  3a  3b  3c  3d  3e
4  4a  4b  4c  4d  4e
5  5a  5b  5c  5d  5e

In [36]:
df.iloc[[2,3],[2,3]]

    c   d
2  2c  2d
3  3c  3d

In [46]:
df.iloc[0:3, 1:3]

    b   c
0  0b  0c
1  1b  1c
2  2b  2c