# GAMES

This will pull game data by year.

Will Create:
```
games_2015.csv
...
all_games.csv
```

[The historical website](https://www.pro-football-reference.com)

[Work spreadsheet for designs](https://docs.google.com/spreadsheets/d/1MkQ_J3gGDs_vkkERELOZojhwS9Wt-1eX4vFL7VP9TQE/edit#gid=0)

In [ ]:
import sys
import pandas as pd

sys.path.insert(0, '..')
import utils.game_utils as gu
import utils.fetch_games as fetch_games
import utils.add_aggregates as add_aggregates

data_path = '../../data'

In [ ]:
#*
#* KEEPING THESE AS BY-YEAR CALLS
#* to simplify pulling only 1 year
#* when needed.
#*

fetch_games.fetch_and_write_year(2010, data_path)
fetch_games.fetch_and_write_year(2011, data_path)
fetch_games.fetch_and_write_year(2012, data_path)
fetch_games.fetch_and_write_year(2013, data_path)
fetch_games.fetch_and_write_year(2014, data_path)
fetch_games.fetch_and_write_year(2015, data_path)
fetch_games.fetch_and_write_year(2016, data_path)
fetch_games.fetch_and_write_year(2017, data_path)
fetch_games.fetch_and_write_year(2018, data_path)
fetch_games.fetch_and_write_year(2019, data_path)
fetch_games.fetch_and_write_year(2020, data_path)
fetch_games.fetch_and_write_year(2021, data_path)

## write final file
fetch_games.build_all_game_files(data_path)

print("Done. Now start the next step:")

# STATS AND INFO : DATA

Getting info and stats causes a lot of calls. I have built the fetcher to first see if we have the info and stat files and move on if so. This means this function can be run as often as you like -- it will only fetch things we don't have files for already.

In [ ]:
import sys

sys.path.insert(0, '..')
import utils.fetch_info_and_stats as fetch_data

#* FETCHES any needed info or stat files
fetch_data.fetch_all_info_and_stats()

#* CREATES `all_games_with_data.csv` by appending all DATA with all_games.csv
fetch_data.create_all_games_with_data()

print("Done.")

# ADD AGGREGATES

Now that we have all the static data in playce, we want to add our own aggregated values. This will give us week-by-week information about the data at the time.

In [ ]:
import sys
import pandas as pd

sys.path.insert(0, '..')
import utils.game_utils as gu
import utils.fetch_games as fetch_games
import utils.add_aggregates as add_aggregates

data_path = '../../data'

# df = add_aggregates.create_all_games_with_data_and_agg(data_path, 2018)
df = add_aggregates.create_all_games_with_data_and_agg()
print('Done.')

In [1]:
import sys
import pandas as pd

sys.path.insert(0, '..')
import utils.game_utils as gu
import utils.fetch_games as fetch_games
import utils.add_aggregates as add_aggregates

data_path = '../../data'

# df = add_aggregates.create_all_games_with_data_and_agg(data_path, 2018)
df = add_aggregates.create_year_file(2020)
print('Done.')

Done.

In [12]:
import utils.add_aggregates as add_aggregates

data_path = '../../data'
all_games_df = pd.read_csv(f'{data_path}/games/all_games_with_data.csv')
work_df = add_aggregates.get_year_df(2013, all_games_df)

work_df.iloc[0]

date                                    2013-09-05
year                                          2013
week                                             1
team                                Denver Broncos
team_score                                      49
                                         ...
opponent_third_down_conversions                  8
opponent_third_down_ratio                     0.36
opponent_fourth_down_count                       1
opponent_fourth_down_conversions                 0
opponent_fourth_down_ratio                     0.0
Name: 1536, Length: 68, dtype: object

In [13]:
work_df.index

Int64Index([1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545,
            ...
            2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047],
           dtype='int64', length=512)

In [15]:
for index in work_df.index.values:
  print(index)

1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047

In [19]:
work_df.index

Int64Index([1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545,
            ...
            2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047],
           dtype='int64', length=512)

In [22]:
work_df.at[1536, 'week'] = 99

In [36]:
cp = work_df.copy()
# cp.at[1536, ['week','year']] = [99,98]
cp.iloc[1536]

IndexError: single positional indexer is out-of-bounds

In [ ]:
work_df.loc[:'1536']

,date,year,week,team,team_score,opponent,opponent_score,win,home,overtime,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
1536,2013-09-05,2013,1,Denver Broncos,49,Baltimore Ravens,27,1,1,0,...,1,0,7,53,22,8,0.36,1,0,0.0

In [8]:
work_df.reset_index()

,index,date,year,week,team,team_score,opponent,opponent_score,win,home,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
0,1536,2013-09-05,2013,1,Denver Broncos,49,Baltimore Ravens,27,1,1,...,1,0,7,53,22,8,0.36,1,0,0.0
1,1537,2013-09-05,2013,1,Baltimore Ravens,27,Denver Broncos,49,0,0,...,3,2,8,61,15,8,0.53,0,0,0.0
2,1538,2013-09-08,2013,1,Buffalo Bills,21,New England Patriots,23,0,1,...,2,2,4,36,20,11,0.55,1,0,0.0
3,1539,2013-09-08,2013,1,New England Patriots,23,Buffalo Bills,21,1,0,...,3,2,10,75,13,4,0.31,0,0,0.0
4,1540,2013-09-08,2013,1,Pittsburgh Steelers,9,Tennessee Titans,16,0,1,...,1,0,6,60,15,6,0.40,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,2043,2013-12-29,2013,17,St. Louis Rams,9,Seattle Seahawks,27,0,0,...,0,0,7,65,13,4,0.31,1,1,1.0
508,2044,2013-12-29,2013,17,San Diego Chargers,27,Kansas City Chiefs,24,1,1,...,1,0,1,5,14,6,0.43,1,0,0.0
509,2045,2013-12-29,2013,17,Kansas City Chiefs,24,San Diego Chargers,27,0,0,...,0,0,4,22,17,9,0.53,1,1,1.0
510,2046,2013-12-29,2013,17,Dallas Cowboys,22,Philadelphia Eagles,24,0,1,...,1,1,6,50,13,5,0.38,1,0,0.0
511,2047,2013-12-29,2013,17,Philadelphia Eagles,24,Dallas Cowboys,22,1,0,...,2,1,1,5,11,3,0.27,2,1,0.5

In [11]:
work_df.loc[:'1536']

,date,year,week,team,team_score,opponent,opponent_score,win,home,overtime,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
1536,2013-09-05,2013,1,Denver Broncos,49,Baltimore Ravens,27,1,1,0,...,1,0,7,53,22,8,0.36,1,0,0.0

In [2]:
work_df

NameError: name 'work_df' is not defined