In [2]:
import numpy as np
import pandas as pd

In [3]:
table_MN = pd.read_html(
    'https://www.pro-football-reference.com/years/2020/week_1.htm')
len(table_MN)

33

In [4]:
table_MN[10].head()

                      0             1             2
0          Sep 13, 2020  Sep 13, 2020  Sep 13, 2020
1        Miami Dolphins            11         Final
2  New England Patriots            21           NaN

In [18]:
table_MN[10]

                      0             1             2
0          Sep 13, 2020  Sep 13, 2020  Sep 13, 2020
1        Miami Dolphins            11         Final
2  New England Patriots            21           NaN

In [19]:
table_MN[10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       2 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [10]:
tdf = table_MN[32]
tdf

  Conf         Offense        Defense    Special Teams
0  AFC   Lamar Jackson  Casey Hayward   Daniel Carlson
1  NFC  Russell Wilson  Ryan Kerrigan  Thomas Morstead

In [6]:
len(tdf.index)

2

In [7]:
len(table_MN[30].index)

3

In [8]:
len(tdf)

2

In [72]:
games_list = []
i = 0
for table_df in table_MN:
    '''
  WORK GAME TABLES
  we expect 3 rows where the first row is the
  date of the game and the 3rd column having
  "Final" and NaN
  '''
    if len(table_df.index) == 3:
        if (table_df[2][1] == "Final") & (table_df[2][2] is np.nan):
            i += 1
            # selecting only teams and scores from table
            df = table_df.iloc[1:3, 0:2]
            df.columns = ['team','score']
            df.index = [
                'away',
                'home'
            ]
            df['score'] = df['score'].astype('int64')
            score_away = df['score']['away']
            score_home = df['score']['home']
            was_home_win = score_home > score_away

            df.insert(2, "win", [was_home_win == False, was_home_win == True])

            # add home data
            week_number = 1  # m@: get correct week here
            home_data = {
                'week': week_number,
                'team': df['team']['home'],
                'team_score': df['score']['home'],
                'opponent': df['team']['away'],
                'opponent_score': df['score']['away'],
                'win': 1 if was_home_win == True else 0,
                'home': 1,
            }
            away_data = {
                'week': week_number,
                'team': df['team']['away'],
                'team_score': df['score']['away'],
                'opponent': df['team']['home'],
                'opponent_score': df['score']['home'],
                'win': 0 if was_home_win == True else 1,
                'home': 0,
            }
            games_list.append(home_data)
            games_list.append(away_data)

            print(f'[{i}]------')
            print(df)

# now that we're done let's get a df from that
games_df = pd.DataFrame(games_list)

[1]------
                    team  score    win
away      Houston Texans     20  False
home  Kansas City Chiefs     34   True
[2]------
               team  score    win
away  New York Jets     17  False
home  Buffalo Bills     27   True
[3]------
                  team  score    win
away  Seattle Seahawks     38   True
home   Atlanta Falcons     25  False
[4]------
                          team  score    win
away       Philadelphia Eagles     17  False
home  Washington Football Team     27   True
[5]------
                  team  score    win
away  Cleveland Browns      6  False
home  Baltimore Ravens     38   True
[6]------
                      team  score    win
away        Miami Dolphins     11  False
home  New England Patriots     21   True
[7]------
                   team  score    win
away  Green Bay Packers     43   True
home  Minnesota Vikings     34  False
[8]------
                      team  score    win
away    Indianapolis Colts     20  False
home  Jacksonville Jaguars     27   True
[9]------
               team  score    win
away  Chicago Bears     27   True
home  Detroit Lions     23  False
[10]------
                   team  score    win
away  Las Vegas Raiders     34   True
home  Carolina Panthers     30  False
[11]------
                      team  score    win
away  Los Angeles Chargers     16   True
home    Cincinnati Bengals     13  False
[12]------
                     team  score    win
away    Arizona Cardinals     24   True
home  San Francisco 49ers     20  False
[13]------
                      team  score    win
away  Tampa Bay Buccaneers     23  False
home    New Orleans Saints     34   True
[14]------
                  team  score    win
away    Dallas Cowboys     17  False
home  Los Angeles Rams     20   True
[15]------
                     team  score    win
away  Pittsburgh Steelers     26   True
home      New York Giants     16  False
[16]------
                  team  score    win
away  Tennessee Titans     16   True
home    Denver Broncos     14  False

In [73]:
games_df

,week,team,team_score,opponent,opponent_score,win,home
0,1,Kansas City Chiefs,34,Houston Texans,20,1,1
1,1,Houston Texans,20,Kansas City Chiefs,34,0,0
2,1,Buffalo Bills,27,New York Jets,17,1,1
3,1,New York Jets,17,Buffalo Bills,27,0,0
4,1,Atlanta Falcons,25,Seattle Seahawks,38,0,1
5,1,Seattle Seahawks,38,Atlanta Falcons,25,1,0
6,1,Washington Football Team,27,Philadelphia Eagles,17,1,1
7,1,Philadelphia Eagles,17,Washington Football Team,27,0,0
8,1,Baltimore Ravens,38,Cleveland Browns,6,1,1
9,1,Cleveland Browns,6,Baltimore Ravens,38,0,0
10,1,New England Patriots,21,Miami Dolphins,11,1,1
11,1,Miami Dolphins,11,New England Patriots,21,0,0
12,1,Minnesota Vikings,34,Green Bay Packers,43,0,1
13,1,Green Bay Packers,43,Minnesota Vikings,34,1,0
14,1,Jacksonville Jaguars,27,Indianapolis Colts,20,1,1
15,1,Indianapolis Colts,20,Jacksonville Jaguars,27,0,0
16,1,Detroit Lions,23,Chicago Bears,27,0,1
17,1,Chicago Bears,27,Detroit Lions,23,1,0
18,1,Carolina Panthers,30,Las Vegas Raiders,34,0,1
19,1,Las Vegas Raiders,34,Carolina Panthers,30,1,0
20,1,Cincinnati Bengals,13,Los Angeles Chargers,16,0,1
21,1,Los Angeles Chargers,16,Cincinnati Bengals,13,1,0
22,1,San Francisco 49ers,20,Arizona Cardinals,24,0,1
23,1,Arizona Cardinals,24,San Francisco 49ers,20,1,0
24,1,New Orleans Saints,34,Tampa Bay Buccaneers,23,1,1
25,1,Tampa Bay Buccaneers,23,New Orleans Saints,34,0,0
26,1,Los Angeles Rams,20,Dallas Cowboys,17,1,1
27,1,Dallas Cowboys,17,Los Angeles Rams,20,0,0
28,1,New York Giants,16,Pittsburgh Steelers,26,0,1
29,1,Pittsburgh Steelers,26,New York Giants,16,1,0
30,1,Denver Broncos,14,Tennessee Titans,16,0,1
31,1,Tennessee Titans,16,Denver Broncos,14,1,0