In [2]:
import numpy as np
import pandas as pd

In [6]:
table_MN = pd.read_html(
    'https://www.pro-football-reference.com/years/2020/week_1.htm')
len(table_MN)

33

In [71]:
table_MN[10].head()

                      0             1             2
0          Sep 13, 2020  Sep 13, 2020  Sep 13, 2020
1        Miami Dolphins            11         Final
2  New England Patriots            21           NaN

In [48]:
tdf = table_MN[32]
tdf

  Conf         Offense        Defense    Special Teams
0  AFC   Lamar Jackson  Casey Hayward   Daniel Carlson
1  NFC  Russell Wilson  Ryan Kerrigan  Thomas Morstead

In [70]:
len(tdf.index)

2

In [69]:
len(table_MN[30].index)

3

In [60]:
len(tdf)

2

In [73]:
i = 0
for df in table_MN:
  '''
  WORK GAME TABLES
  we expect 3 rows where the first row is the
  date of the game and the 3rd column having
  "Final" and NaN
  '''
  if len(df.index) == 3:
    try:
      if (df[2][1] == "Final") & (df[2][2] is np.nan):
        i += 1 
        # dropping the first (date) row
        df_box = df[1:]
        print(f'[{i}]------')
        print(df_box)
    except:
      print('********** An exception occurred')
      print(df)

[1]------
                    0   1      2
1      Houston Texans  20  Final
2  Kansas City Chiefs  34    NaN
[2]------
               0   1      2
1  New York Jets  17  Final
2  Buffalo Bills  27    NaN
[3]------
                  0   1      2
1  Seattle Seahawks  38  Final
2   Atlanta Falcons  25    NaN
[4]------
                          0   1      2
1       Philadelphia Eagles  17  Final
2  Washington Football Team  27    NaN
[5]------
                  0   1      2
1  Cleveland Browns   6  Final
2  Baltimore Ravens  38    NaN
[6]------
                      0   1      2
1        Miami Dolphins  11  Final
2  New England Patriots  21    NaN
[7]------
                   0   1      2
1  Green Bay Packers  43  Final
2  Minnesota Vikings  34    NaN
[8]------
                      0   1      2
1    Indianapolis Colts  20  Final
2  Jacksonville Jaguars  27    NaN
[9]------
               0   1      2
1  Chicago Bears  27  Final
2  Detroit Lions  23    NaN
[10]------
                   0   1      2
1  Las Vegas Raiders  34  Final
2  Carolina Panthers  30    NaN
[11]------
                      0   1      2
1  Los Angeles Chargers  16  Final
2    Cincinnati Bengals  13    NaN
[12]------
                     0   1      2
1    Arizona Cardinals  24  Final
2  San Francisco 49ers  20    NaN
[13]------
                      0   1      2
1  Tampa Bay Buccaneers  23  Final
2    New Orleans Saints  34    NaN
[14]------
                  0   1      2
1    Dallas Cowboys  17  Final
2  Los Angeles Rams  20    NaN
[15]------
                     0   1      2
1  Pittsburgh Steelers  26  Final
2      New York Giants  16    NaN
[16]------
                  0   1      2
1  Tennessee Titans  16  Final
2    Denver Broncos  14    NaN