In [2]:
import sys
sys.path.insert(0, '..')
import lib.game_utils as gu

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
all_games_df = pd.read_csv('../../data/games/all_games_with_data.csv')

In [4]:
all_games_df.head()

,date,year,week,team,team_score,opponent,opponent_score,win,home,overtime,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
0,2010-09-09,2010,1,New Orleans Saints,14,Minnesota Vikings,9,1,1,0,...,1,0,6,60,13,5,0.38,0,0,0.0
1,2010-09-09,2010,1,Minnesota Vikings,9,New Orleans Saints,14,0,0,0,...,1,0,3,20,11,3,0.27,0,0,0.0
2,2010-09-12,2010,1,Chicago Bears,19,Detroit Lions,14,1,1,0,...,3,2,7,40,14,4,0.29,1,0,0.0
3,2010-09-12,2010,1,Detroit Lions,14,Chicago Bears,19,0,0,0,...,4,3,9,100,14,6,0.43,1,0,0.0
4,2010-09-12,2010,1,Buffalo Bills,10,Miami Dolphins,15,0,1,0,...,0,0,3,15,18,8,0.44,0,0,0.0

In [5]:
YEAR = 2020
WEEK = 5
TEAM = gu.TEAM_NAME['Saints']

df = all_games_df[(all_games_df['year'] == YEAR) &
            (all_games_df['team'] == TEAM) &
            (all_games_df['week'] < WEEK)]
df

,date,year,week,team,team_score,opponent,opponent_score,win,home,overtime,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
5144,2020-09-13,2020,1,New Orleans Saints,34,Tampa Bay Buccaneers,23,1,1,0,...,2,1,9,103,13,5,0.38,1,1,1.0
5183,2020-09-21,2020,2,New Orleans Saints,24,Las Vegas Raiders,34,0,0,0,...,2,1,3,13,17,10,0.59,2,2,1.0
5212,2020-09-27,2020,3,New Orleans Saints,30,Green Bay Packers,37,0,1,0,...,0,0,2,10,11,5,0.45,2,1,0.5
5231,2020-10-04,2020,4,New Orleans Saints,35,Detroit Lions,29,1,0,0,...,0,0,5,49,14,7,0.50,3,3,1.0

In [6]:
season_df = all_games_df[(all_games_df['year'] == YEAR)
                  & (all_games_df['team'] == TEAM)]
season_df[season_df['overtime'] == 1]

,date,year,week,team,team_score,opponent,opponent_score,win,home,overtime,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
5270,2020-10-12,2020,5,New Orleans Saints,30,Los Angeles Chargers,27,1,1,1,...,1,0,1,10,17,8,0.47,1,0,0.00
5351,2020-11-01,2020,8,New Orleans Saints,26,Chicago Bears,23,1,0,1,...,0,0,7,53,15,5,0.33,3,2,0.67

In [14]:
year_df = all_games_df[(all_games_df['year'] == YEAR)]
WEEK = 1
week_df = year_df[year_df['week'] == WEEK]

game_df = week_df.iloc[0]

In [29]:
tdf = pd.DataFrame(columns=[
    'year', 'week', 'team', 'wins', 'losses', 'record_normal',
    'schedule_strength'
])
tdf.loc[len(tdf)] = [2001,1,'Mikes Maniacs', 1, 2, 3, 4]
tdf.loc[len(tdf)] = [2001,1,'Mikes Maniacs', 1, 2, 3, 4]
tdf.loc[len(tdf)] = [2001,1,'Mikes Maniacs', 1, 2, 3, 4]
tdf

   year week           team wins losses record_normal schedule_strength
0  2001    1  Mikes Maniacs    1      2             3                 4
1  2001    1  Mikes Maniacs    1      2             3                 4
2  2001    1  Mikes Maniacs    1      2             3                 4

In [32]:
agg_df = pd.DataFrame(columns=['year','week','team','wins','losses','record_normal','schedule_strength'])

def add_record(year,week,team,wins,losses,record_normal,schedule_strength):
    agg_df.loc[len(agg_df)] = [
        year, week, team, wins, losses, record_normal, schedule_strength
    ]

def _calculate_aggregates(year, week, team, win_lose_tie_code, ):
    '''
    win_lose_tie_code  = W|L|T
    '''
    wins = 0
    losses = 0
    record_normal = 0.0
    schedule_strength = 0.0
    add_record(year, week, team, wins, losses, record_normal,
      schedule_strength)

def calculate_aggregates_for_game(game_df, all_games_df):
    year = game_df['year']
    week = game_df['week']
    
    team = game_df['team']
    team_won = bool(game_df['team_win'])

    opponent = game_df['opponent']
    opponent_won = bool(game_df['opponent_win'])


    _calculate_aggregates(year, week, team)

calculate_aggregates_for_game(year_df.iloc[60], year_df)
agg_df

   year week              team wins losses  record_normal  schedule_strength
0  2020    2  Seattle Seahawks    0      0            0.0                0.0

In [74]:
def get_previous_record(year, week, team, all_games_df):
    records = all_games_df[(all_games_df['year'] == year)
                        & (all_games_df['week'] < week) &
                        (all_games_df['team'] == team)]
    if len(records) < 1:
      return None

    return records[-1:]

In [82]:
def get_all_previous_records(year, week, team, all_games_df):
    records = all_games_df[(all_games_df['year'] == year)
                        & (all_games_df['week'] < week) &
                        (all_games_df['team'] == team)]
    if len(records) < 1:
        return None

    return records


test_df = all_games_df.iloc[5420]
get_all_previous_records(test_df['year'], test_df['week'], test_df['team'], all_games_df)

,date,year,week,team,team_score,opponent,opponent_score,win,home,overtime,...,opponent_fumble_count,opponent_fumble_lost,opponent_penalty_count,opponent_penalty_yards,opponent_third_down_count,opponent_third_down_conversions,opponent_third_down_ratio,opponent_fourth_down_count,opponent_fourth_down_conversions,opponent_fourth_down_ratio
5126,2020-09-13,2020,1,Washington Football Team,27,Philadelphia Eagles,17,1,1,0,...,3,1,3,20,14,5,0.36,2,0,0.0
5175,2020-09-20,2020,2,Washington Football Team,15,Arizona Cardinals,30,0,0,0,...,1,0,11,97,17,7,0.41,2,2,1.0
5201,2020-09-27,2020,3,Washington Football Team,20,Cleveland Browns,34,0,0,0,...,1,0,6,50,14,5,0.36,1,1,1.0
5222,2020-10-04,2020,4,Washington Football Team,17,Baltimore Ravens,31,0,1,0,...,0,0,5,30,11,5,0.45,2,2,1.0
5250,2020-10-11,2020,5,Washington Football Team,10,Los Angeles Rams,30,0,1,0,...,1,0,5,60,15,6,0.40,1,0,0.0
5287,2020-10-18,2020,6,Washington Football Team,19,New York Giants,20,0,0,0,...,0,0,4,30,11,7,0.64,0,0,0.0
5308,2020-10-25,2020,7,Washington Football Team,25,Dallas Cowboys,3,1,1,0,...,3,0,6,49,12,3,0.25,1,0,0.0
5364,2020-11-08,2020,9,Washington Football Team,20,New York Giants,23,0,1,0,...,2,0,4,40,15,6,0.40,1,0,0.0
5397,2020-11-15,2020,10,Washington Football Team,27,Detroit Lions,30,0,0,0,...,0,0,9,55,10,4,0.40,0,0,0.0

In [99]:
def get_df_with_aggregates(index, all_games_df):
    game_df = all_games_df.iloc[index]
    year = game_df['year']
    week = game_df['week']
    team = game_df['team']

    wins = 0
    losses = 0
    ties = 0
    record_normal = 0
    schedule_strength = 0

    previous_df = get_previous_record(year, week, team, all_games_df)

    if previous_df is not None:
        try:
            wins = game_df['team_wins']
            losses = game_df['team_losses']
            ties = game_df['team_ties']
            record_normal = game_df['team_record_normal']
            schedule_strength = game_df['team_schedule_strength']
            win = bool(previous_df['team_win'])
            tie = previous_df['team_score'] == previous_df['opponent_score']
            loss = win == False and tie == False

            if win:
                wins += 1
            if tie:
                ties += 1
            if loss:
                losses += 1
        except:
            print('oops')

    all_games_df.at[index, [
          'team_wins',
          'team_losses',
          'team_ties',
          'team_record_normal',
          'team_schedule_strength'
      ]] = [
          wins,
          losses,
          ties,
          record_normal,
          schedule_strength
      ]
    # all_games_df.at[index, 'team_wins'] = wins
    # all_games_df.at[index, 'team_losses'] = losses
    # all_games_df.at[index, 'team_ties'] = ties
    # all_games_df.at[index, 'team_record_normal'] = record_normal
    # all_games_df.at[index, 'team_schedule_strength'] = schedule_strength
    
    # game_df['team_wins'] = wins
    # game_df['team_losses'] = losses
    # game_df['team_ties'] = ties
    # game_df['team_record_normal'] = record_normal
    # game_df['team_schedule_strength'] = schedule_strength

    return all_games_df.iloc[index]


new_col_df = pd.DataFrame(columns=['team_wins', 'team_losses', 'team_ties', 'team_record_normal', 'team_schedule_strength'])
ag_df = all_games_df.join(new_col_df, how="outer")

get_df_with_aggregates(5397, ag_df)

oops

date                                    2020-11-15
year                                          2020
week                                            10
team                      Washington Football Team
team_score                                      27
                                    ...
team_wins                                      NaN
team_losses                                    NaN
team_ties                                      NaN
team_record_normal                             NaN
team_schedule_strength                         NaN
Name: 5397, Length: 73, dtype: object

In [87]:
ag_df.iloc[5397]

date                                    2020-11-15
year                                          2020
week                                            10
team                      Washington Football Team
team_score                                      27
                                    ...
team_wins                                      NaN
team_losses                                    NaN
team_ties                                      NaN
team_record_normal                             NaN
team_schedule_strength                         NaN
Name: 5397, Length: 73, dtype: object

In [86]:
all_games_df.iloc[5397]

date                                              2020-11-15
year                                                    2020
week                                                      10
team                                Washington Football Team
team_score                                                27
                                              ...
opponent_third_down_conversions                            4
opponent_third_down_ratio                                0.4
opponent_fourth_down_count                                 0
opponent_fourth_down_conversions                           0
opponent_fourth_down_ratio                               0.0
Name: 5397, Length: 68, dtype: object