In [1]:
import sys
sys.path.insert(1, '..')
import game_utils as gu
import pandas as pd

In [2]:
df = pd.read_csv('../../data/games/all_games.csv')
df

,date,year,week,team,team_score,opponent,opponent_score,win,home
0,2010-09-09,2010,1,New Orleans Saints,14,Minnesota Vikings,9,1,1
1,2010-09-09,2010,1,Minnesota Vikings,9,New Orleans Saints,14,0,0
2,2010-09-12,2010,1,Chicago Bears,19,Detroit Lions,14,1,1
3,2010-09-12,2010,1,Detroit Lions,14,Chicago Bears,19,0,0
4,2010-09-12,2010,1,Buffalo Bills,10,Miami Dolphins,15,0,1
...,...,...,...,...,...,...,...,...,...
5301,2021-01-03,2020,17,Las Vegas Raiders,32,Denver Broncos,31,1,0
5302,2021-01-03,2020,17,Indianapolis Colts,28,Jacksonville Jaguars,14,1,1
5303,2021-01-03,2020,17,Jacksonville Jaguars,14,Indianapolis Colts,28,0,0
5304,2021-01-03,2020,17,Philadelphia Eagles,14,Washington Football Team,20,0,1
5305,2021-01-03,2020,17,Washington Football Team,20,Philadelphia Eagles,14,1,0

In [4]:
saints_all = df[df['team'] == 'New Orleans Saints']
saints_2020 = saints_all[saints_all['year'] == 2020]
saints_2020

,date,year,week,team,team_score,opponent,opponent_score,win,home
4838,2020-09-13,2020,1,New Orleans Saints,34,Tampa Bay Buccaneers,23,1,1
4875,2020-09-21,2020,2,New Orleans Saints,24,Las Vegas Raiders,34,0,0
4902,2020-09-27,2020,3,New Orleans Saints,30,Green Bay Packers,37,0,1
4921,2020-10-04,2020,4,New Orleans Saints,35,Detroit Lions,29,1,0
5000,2020-10-25,2020,7,New Orleans Saints,27,Carolina Panthers,24,1,1
5065,2020-11-08,2020,9,New Orleans Saints,38,Tampa Bay Buccaneers,3,1,0
5090,2020-11-15,2020,10,New Orleans Saints,27,San Francisco 49ers,13,1,1
5104,2020-11-22,2020,11,New Orleans Saints,24,Atlanta Falcons,9,1,1
5143,2020-11-29,2020,12,New Orleans Saints,31,Denver Broncos,3,1,0
5155,2020-12-06,2020,13,New Orleans Saints,21,Atlanta Falcons,16,1,0
5205,2020-12-13,2020,14,New Orleans Saints,21,Philadelphia Eagles,24,0,0
5236,2020-12-20,2020,15,New Orleans Saints,29,Kansas City Chiefs,32,0,1
5242,2020-12-25,2020,16,New Orleans Saints,52,Minnesota Vikings,33,1,1
5291,2021-01-03,2020,17,New Orleans Saints,33,Carolina Panthers,7,1,0