In [40]:
import pandas as pd
import numpy as np

In [9]:
info= {"Num":[12,14,13,12,14,13,15], "NAME":['John','Camili','Rheana','Joseph','Amanti','Alexa','Siri']}
df = pd.DataFrame(info)
df.index = [145,169,232,246,267,456,678]
df

     Num    NAME
145   12    John
169   14  Camili
232   13  Rheana
246   12  Joseph
267   14  Amanti
456   13   Alexa
678   15    Siri

In [12]:
cp = df.copy()
cp.index

Int64Index([145, 169, 232, 246, 267, 456, 678], dtype='int64')

In [15]:
j = cp.loc[246]
j

Num         12
NAME    Joseph
Name: 246, dtype: object

In [18]:
j['Num'] = 99

<ipython-input-18-d127cd372a21>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  j['Num'] = 99

In [19]:
cp

     Num    NAME
145   12    John
169   14  Camili
232   13  Rheana
246   12  Joseph
267   14  Amanti
456   13   Alexa
678   15    Siri

In [20]:
# usin this works
cp.at[246,'Num'] = 99

In [21]:
cp

     Num    NAME
145   12    John
169   14  Camili
232   13  Rheana
246   99  Joseph
267   14  Amanti
456   13   Alexa
678   15    Siri

In [22]:
# STILL A FAILURE
cp.loc[246]['Num'] = 98

<ipython-input-22-8869d3ef41ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cp.loc[246]['Num'] = 98

In [33]:
cp.loc[3:5,['Num']] = [666]

In [34]:
cp

     Num    NAME
145   12    John
169   14  Camili
232   13  Rheana
246   99  Joseph
267   14  Amanti
456   13   Alexa
678   15    Siri

In [38]:
cp.iloc[[3],[0]] = 42

In [39]:
cp

     Num    NAME
145   12    John
169   14  Camili
232   13  Rheana
246   42  Joseph
267   14  Amanti
456   13   Alexa
678   15    Siri

In [44]:
for i in np.arange(0,len(cp)):
  print(cp.iloc[[i],[0]])

     Num
145   12
     Num
169   14
     Num
232   13
     Num
246   42
     Num
267   14
     Num
456   13
     Num
678   15

In [49]:
cp.loc['145']

KeyError: '145'

In [ ]:
for i in np.arange(0,len(cp)):
  print(cp.loc[[i],[0]])